body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    overflow: auto; /* Permitir desbordamiento si es necesario */
}

h1 {
    color: #333;
}

strong {
    color: #007bff;
}

p {
    margin-bottom: 10px;
    word-wrap: break-word; /* Forzar saltos de línea en palabras largas */
}

@media print {
    p {
        page-break-inside: avoid; /* Evitar que el texto se corte entre páginas */
    }
}